
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: "Roboto", sans-serif;
}
 :root{
  --font-base: 'Lexed',sans-serif;
  --font-second-base: 'Inter',sans-serif;
  --bg-color:#111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
 }
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
  background-color: #111;
 }

.page_loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
}

.main_content {
  padding-top: 64px;
}